<!-- 添削済み---------------------------- -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'polls:vote' question.id %}" method="POST">
        {% csrf_token %}
        <div>
            <h1>{{ question.question_text }}</h1>

            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}

            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text}}</label><br>
            {% endfor %}
        </div>
        <input type="submit" value="Vote" style="width: 6vw; height: 3vw;">
    </form>
    <br>
    <!-- <form action="{% url 'polls:resets' question.id %}" method="POST">
        {% csrf_token %}
        <div>
            {% for choice in question.choice_set.all %}
                <input type="checkbox" name="resets" id="resets{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="resets{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}

        </div>
        <input type="submit" value="Resets">
    </form>
    <br> -->
    <a href="{% url 'polls:index' %}">他の質問に投票する</a>
    <br>
    <p>Total Votes: {{ sum.sum_votes }}</p>

</body>
</html>


<!-- index.pyのコピペ
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %} -->