<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resets method 管理者用</h1>
    <br>
    <form action="{% url 'polls:resets' question.id %}" method="POST">
        {% csrf_token %}
        <div>
            {% for choice in question.choice_set.all %}
                <input type="checkbox" name="resets" id="resets{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="resets{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </div>
        <input type="submit" value="Resets">
    </form>
    <br>
    <a href="{% url 'polls:index' %}">質問一覧に戻る</a>
    <br>
    <p>Total Votes: {{ sum.sum_votes }}</p>

</body>
</html>

