<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T.T.presents ハイパーバーベキュー大会</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/hyper.css' %}">
</head>
<body>
    <div class="first_view">
        <div class="hello">やあ</div>
    </div>
    <div class="body_inner">
        <!-- <div class="on_load_disappear">やあ</div> -->
        <header class="scroll_change">
            <p class="header_big">T.T. presents<br><span class="header_big_big">ハイパーバーベキュー大会</span></p>
            <div>
                <div class="links">
                    <a href="#main_box1" class="header_small cursor" id="header_small_left">大会概要</p>
                    <a href="#main_box2" class="header_small cursor">注意事項</p>
                    <a href="https://www.instagram.com/tsujitakapresents/" id="insta_logo" target="_blank" rel="noopener noreferrer"><img src="/media/img/insta_logo/Instagram_Glyph_White.png"></a>
                </div>
            </div>
        </header>
        <div class="main_menu_show" script="height: px;">
            <div class="firstin hyper_bg1 show jun_box">
                <span class="inner"><img src="/media/img/おれの顔＿白黒.png" class="top_appear"></span>
            </div>
        </div>
        <div class="firstin text el pc show">
            <span class="txt_wrap">
                <p class="text">T.T.presents</p>
                <p class="text" id="title_under">ハイパーバーベキュー大会</p>
                <p class="text" id="date">2023.10.28　＠服部緑地公園</p>
                <p class="text" id="date">12時～16時　開催予定</p>
            </span>
        </div>

        <div class="form_link">
            <a href="https://takaya.pythonanywhere.com/app1/contact/" target="_blank" rel="noopener noreferrer" data-text="申し込みはこちら">申し込みはこちら</a>
        </div>

        <div class="main_box1 scroll_appear" id="main_box1">
            <h1>大会概要</h1>
            <br>
            <h2>日時</h2>
            <p><span class="text-progress" data-text="10月28日に開催予定">10月28日に開催予定</span></p>
            <br><br>
            <h2>場所</h2>
            <p><span class="text-progress" data-text="服部緑地公園バーベキュー場">服部緑地公園バーベキュー場</span><br><span>詳細な場所は、この大会概要の最後にある地図を参考にしてください。</span>また、事前にインスタグラム（＠tsujitakapresents）を活用して、行き道の紹介動画の作成と共有も検討しています。併せてご確認ください。</p>
            <br><br>
            <h2>参加費（食費込み）</h2>
            <p>頑張って、3000円以下には抑え込む予定です。<br>お金は当日回収します</p>
            <br><br>
            <h2>申込について</h2>
            <p>大会前に以下の申込フォームから、参加の旨を表明してください。<br><span class="text-progress" data-text="申込期限は、10月20日です。">申込期限は、10月20日です。</span><br>また店員は３０名までを予定しているので、それを超えた場合、恐縮ですが参加をお断りする場合があります。ご理解ください。<br><a href="http://127.0.0.1:8000/app1/contact/" style="color: #FFFFFF;" target="_blank" rel="noopener noreferrer">申込はこちらから</a></p>
            <br><br>
            <h2>参加資格</h2>
            <p><span class="text-progress" data-text="主催者であるT.T.と知り合いであること">主催者であるT.T.と知り合いであること</span>が参加の条件です。<br>その他の方の参加、申込はご遠慮いただきますよう、よろしくお願いします。
                逆に、知り合いであれば、どなたでも大歓迎なので、迷っている方はぜひご参加ください。</p>
            <br><br>
            <h2>キャンセルについて</h2>
            <p>予約の際は、他の予定と被らないように慎重にお願いします。万が一、キャンセルをご希望の場合は、本大会公式インスタグラムアカウント（@tsujitakapresents）まで直接ご連絡ください。10月20日まででしたら、無料キャンセルで対応します。それ以降は、100％払っていただきますので、ご理解よろしくお願いいたします。</p>
            <br><br>
            <h2>飲酒について</h2>
            <p>20歳以上の方のみ自己責任で、飲酒できます。<br>
            <span class="text-progress" data-text="ただし、お酒はこちらでは用意できませんので、個人で用意し、">ただし、お酒はこちらでは用意できませんので、個人で用意し、</span>持ち込んで下さい。</p><br>
            <h2>その他</h2>
            <p>上記の内容については、大会を円滑に進めるため、変更する場合があります。変更内容については、ホームページを随時更新し、重要な内容に関しては、連絡させていただきます。あらかじめご了承ください。</p>
            <br><br><br><br><br>
            <h3>↓　以下が集合場所の詳細です　↓</h3><br>
            <div class="img_box">
                <img src="/media/img/服部緑地地図.png" width="450rem">
                <img src="/media/img/現地の写真/S__7151619.jpg">
            </div>
        </div>

        <br><br><br>
        <div class="hyper_former scroll_appear">
            <h1>前回のテニスシングルス大会の様子</h1>
            <br>
                <div class="slide">
                    <div class="slide_inner">
                        <img src="/media/img/LXLL2475.JPG" width="400px" class="slide_img" id="slide1">
                        <img src="/media/img/RTUV1823.JPG" width="400px" class="slide_img" id="slide2">
                        <img src="/media/img/MLYP1204.JPG" width="400px" class="slide_img" id="slide3">
                        <img src="/media/img/JMEM4023.JPG" width="400px" class="slide_img" id="slide4">
                    </div>
                </div>
        </div>
        <br><br><br>
        <div class="main_box2 scroll_appear" id="main_box2">
            <h1>注意事項</h1>
            <br>
            <p id="warning">大変恐縮ではありますが、この大会は、加藤純一さんの加藤純一 presents　ハイパーゲーム大会を参考にさせていただいて開催したです。それもあって、主催者はもちろんのこと、参加者のみなさんも一個人としてふさわしい行動をとれるよう、以下の注意事項はきちんと守っていただくようよろしくお願いします。</p>
            <br><br><br><br>
            <p class="sub_title">1.出発前の確認：</p>
            <ul>
                <li>キャンプ日程と出発時刻を確認し、遅刻のないように準備してください。</li>
                <li>必要な装備、水などの必需品を持参し、不足しないようにしましょう。
                </li>
            </ul><br><br>
            <p class="sub_title">2.天候と服装：</p>
            <ul>
                <li>天候予報を確認し、適切な服装と防寒、雨具を持ってきてください。</li>
            </ul><br><br>
            <p class="sub_title">3.キャンプ場のルール</p>
            <ul>
                <li>キャンプ場の規則とマナーを尊重し、指示に従ってください。</li>
                <li>火の取り扱いに特に注意し、許可のない場所で火を使わないでください。</li>
            </ul><br><br>
            <p class="sub_title">4.安全第一：</p>
            <ul>
                <li>火やキャンプストーブを使用する際は、安全に気を付けましょう。</li>
                <li>自然を保護し、生態系への影響を最小限に抑えるために行動してください。</li>
            </ul><br><br>
            <p class="sub_title">5.環境への配慮：</p>
            <ul>
                <li>トイレを汚さないようにしましょう。</li>
                <li>火の使用が許可されている場合でも、環境への配慮を忘れずに行動してください。</li>
            </ul><br><br>
            <p class="sub_title">6.楽しむことを忘れずに:</p>
            <ul>
                <li>キャンプは楽しい経験です。自然を楽しみ、新しい友達との素晴らしい思い出を作りましょう。また、主催者（T.T.）は、<span class="text-progress" data-text="誰もが健全に楽しめ、安心して参加できる">誰もが健全に楽しめ、安心して参加できる</span>ような大会にしたいと思っています。皆さんのご理解、ご協力をお願いします。</li>
            </ul><br><br>
        </div>
    </div>
    <div class="foot_munu">
        <div class="foot_menu_img" script="height: px;">
            <div>
                <span class="inner"><img src="/media/img/おれの顔＿白黒.png" width="230" id="footer_jun"></span>
            </div>
        </div>
        <div class="hyper_text">
            <span class="txt_wrap2">
                <p class="text">T.T.presents</p>
                <p class="text" id="foot_title_under">ハイパーバーベキュー大会</p>
                <p class="text" id="foot_date">2023.10.28　＠服部緑地公園</p>
                <p class="text">12時～16時　開催予定</p>
            </span>
        </div>
        <div class="foot_links">
            <a href="#main_box1" class="foot_link">大会概要</a>
            <a href="#main_box2" class="foot_link">注意事項</a>
            <a href="https://www.instagram.com/tsujitakapresents/" id="insta_logo" target="_blank" rel="noopener noreferrer"><img src="/media/img/insta_logo/Instagram_Glyph_White.png"></a>
        </div>
        <div class="form_link">
            <a href="https://takaya.pythonanywhere.com/app1/contact/" target="_blank" rel="noopener noreferrer" data-text="申し込みはこちら">申し込みはこちら</a>
        </div>

    </div>
    <footer>©️ All rights reserved.</footer>
    <script>
        const scrollAppear = document.querySelectorAll(".scroll_appear");
        const windowHeight = window.innerHeight;
        const scrollChange = document.querySelectorAll(".scroll_change");
        const hello = document.querySelectorAll(".hello");
        const firstView = document.querySelectorAll(".first_view");
        const junBox = document.querySelectorAll(".jun_box");
        const topAppear = document.querySelectorAll(".top_appear");
        const textProgress = document.querySelectorAll(".text-progress")
        const elementDistance0 = textProgress[0].getBoundingClientRect().top;
        const elementDistance1 = textProgress[1].getBoundingClientRect().top;
        const elementDistance2 = textProgress[2].getBoundingClientRect().top;
        const elementDistance3 = textProgress[3].getBoundingClientRect().top;
        const elementDistance4 = textProgress[4].getBoundingClientRect().top;
        const elementDistance5 = textProgress[5].getBoundingClientRect().top;



        // 初回アクセス時のみのエフェクト作成関連
        const sessionKey="accesed"

        if(!sessionStorage.getItem("accesed")){

            // 初回アクセス時のみの処理
            hello[0].classList.add("active");
            topAppear[0].classList.add("fst_load");
            window.setTimeout(() =>{
                hello[0].classList.remove("active");
                hello[0].classList.add("explosion");
                firstView[0].classList.add("disappear");
            },3990)
            window.setTimeout(() => {
                hello[0].classList.add("none");
                firstView[0].classList.add("none");
            },8000)

            sessionStorage.setItem("accesed",true);
        }else{
            // 更新後の処理
            hello[0].classList.add("none");
            firstView[0].classList.add("none");
            junBox[0].classList.add("reload");
            topAppear[0].classList.add("reload");
        }



        window.addEventListener("scroll", () => {
            let y = window.scrollY;
            if(y >= 70){
                scrollChange[0].classList.add("active");
            }else{
                scrollChange[0].classList.remove("active");
            }


            // 緑に出てくる

            let yy = window.scrollY;

            if((elementDistance0) - windowHeight *(1)+ 20 <= yy){
                textProgress[0].classList.add("progress");
            }
            if((elementDistance1 - windowHeight*(1)) <= yy){
                textProgress[1].classList.add("progress");
            }

            if((elementDistance2 - windowHeight*(1)) <= yy){
                textProgress[2].classList.add("progress");
            }

            if((elementDistance3 - windowHeight*(1)) <= yy){
                textProgress[3].classList.add("progress");
            }
            if((elementDistance4 - windowHeight*(1)) <= yy){
                textProgress[4].classList.add("progress");
            }
            if((elementDistance4 - windowHeight*(1)) <= yy){
                textProgress[5].classList.add("progress");
            }

        });

        for(let index=0 ; index < scrollAppear.length; index++){
            const elementDistance = scrollAppear[index].offsetTop;


            window.addEventListener("scroll", () => {
                let y = window.scrollY;
                if((elementDistance - windowHeight*(3/4)) <= y){
                    scrollAppear[index].classList.add("active");
                    console.log("出現");
                }
            });
        }







        // じゅんの顔エフェクト（旧型）
        // window.addEventListener("load", () => {
        //     hello[0].classList.add("active");
        //     window.setTimeout(() =>{
        //         hello[0].classList.remove("active");
        //         hello[0].classList.add("explosion");
        //         firstView[0].classList.add("disappear");
        //     },3990)
        //     window.setTimeout(() => {
        //         hello[0].classList.add("none");
        //         firstView[0].classList.add("none");
        //     },8000)
        // });



    </script>
</body>
</html>